# Dependency folders
node_modules/
dist/

# AWS Secrets (CRITICAL)
*.pem

# Terraform files
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env